 <form class="form-horizontal">
      <div class="control-group form-horizontal">
	    <label for="pizzaName">Pizza Name</label>
	    <input type="text" class="form-control" id="pizzaName" ng-model="name">
      </div>
      <div class="control-group">
	    <label for="pizzaDescription">Description</label>
	    <input type="text" class="form-control" id="pizzaDescription" ng-model="description">
      </div>
      <div class="control-group">
          <div class="controls">
              <button class="btn btn-large btn-primary" type="button" ng-click="createPizza(name, description)">Submit</button>
          </div>
      </div>
  </form>
